.head-line{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    .title-logo{
        width: 430px;
    }
}

.button-area{
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-top: 1px solid #ebebeb;
    border-bottom: 4px double black;
    .category-button{
        border: none;
        background: none;
        margin: 5px;
        &:hover{
            color: orangered;
        }
    }
}

.news-img-size{
    max-width: 100%;
    max-height: 250px;
}

.news{
    border-bottom: 2px solid black;
}

